* {
box-sizing: border-box;
}


:root {
--main: x(color);
--section: x(color);
--dark: x(color);
--light: x(color);
}

body {
 margin: 0;
 background-color: rgba(128, 126, 126, 0.596);
 background-image: gradient(rgb(43, 43, 43),rgb(63, 53, 53));
 height: 700px;
}

main {
 float: left;
  width: 33.33%;
  padding: 5px;
}

header {
 border: 2px solid rgb(255, 0, 13);
 border-style: dotted;
}

h1 { 
 position: sticky;
 text-align: center;
 border: 2px solid rgb(255, 0, 13);
 border-style: dotted;
 padding: 14px;
 float: auto;
 margin: 0px;
}

.navbar {
 overflow: hidden;
 background-color: rgb(105, 105, 105);

 border: 2px solid rgb(195, 0, 255);
 border-style: dotted;
}

.navbar a {
 color: rgb(255, 255, 255);
 text-decoration: none;
 padding: 20px 20px;
 float: right;
 display: block;
 text-align: auto;
 font-size: 20px;
 box-sizing: border-box;
}

.navbar a:hover {
 background-color: black;
}


section {
 border: 2px solid rgb(0, 255, 64);
 border-style: dotted;
 box-sizing: border-box;
}

.bio {
border: 2px solid rgb(0, 225, 255);
 border-style: dotted;
 box-sizing: border-box;
 float: left;
 margin-top: 50px;
 flex-wrap: wrap;
}

body {
margin: 40px;
background-blend-mode: soft-light;
background-color: rgb(44, 44, 44);
}

section img {
 border: 2px solid rgb(0, 255, 64);
 border-style: dotted;
 width: 100%;
  height: auto;
  max-width: 200px;
}
.bio p {
 float: right;
 flex-wrap: wrap;
 
}

h2 {
 margin: 0;
 padding: 0px;
 float: center;
}

.banner {
background-image: url("../images/backround.jpg");
min-height: 200px;
background-position: auto;
background-size: cover;
}

aside img {
 position: relative;
float: right;
}