* {
 box-sizing: border-box;
}

:root {
 --main: x(color);
 --section: x(color);
 --dark: x(color);
 --light: x(color);
}

body {
 margin: 0;
 background-image: gradient(rgb(175, 173, 173), rgb(63, 53, 53));
}

.navbar {
 background: transparent;
 border: 2px solid rgb(21, 0, 27);
 border-style: dotted;
 align-self: center;
}

.navbar a {
 color: rgb(0, 0, 0);
 text-decoration: none;
 padding: 20px 20px;
 float: center;
 display: block;
 text-align: auto;
 font-size: 20px;
 box-sizing: border-box;
}

.navbar a:hover {
 background-color: rgba(48, 34, 17, 0.308);
}

section {
 border: 2px solid rgb(0, 255, 64);
 border-style: dotted;
 box-sizing: border-box;
}

body {
 text-align: center;
 margin: 40px;
 background-blend-mode: soft-light;
 background-color: rgb(44, 44, 44);
}

.portrait img {
 border: 2px solid rgb(235, 118, 8);
 border-style: double;
 height: auto;
 max-width: 300px;
 box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.61);
}

h2 {
 margin-top: 10px;
 padding: 0px;
 float: center;
}

.banner {
 background-image: url("../images/backround.jpg");
 min-height: 200px;
 background-position: auto;
 background-size: cover;
}

.projects img {
 float: center;
 flex: auto;
 height: auto;
 width: 600px;
 padding: 10px;
 margin: 0px;
 box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.61);
 margin: 0px
}

iframe {
 align-self: center;
 margin: 0px;
 width: 600px;
 height: 280px;
 padding: 0px;
 border: 10px;
 box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.61);
}